.pl-card{
    width:200px;
    height:120px;
    background:#222;
    border-radius:14px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:.4rem;
    transition:transform .25s;
    &:hover{transform:translateY(-6px);}
    &__title{font-size:1.2rem;color:#fff;font-weight:600}
    &__count{font-size:1rem;color:#aaa}
  }
  