html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: #121212;
  color: #fff;
}

a   { color: inherit; text-decoration: none; }
button { cursor: pointer; }
