.sidebar {
    width: 240px;
    background: #1a1a1a;
    color: #fff;
    font-family: sans-serif;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .4);
  
    &__section {
      margin-bottom: 2rem;
    }
  
    &__title {
      font-size: 1.2rem;
      font-weight: 600;
      color: #ff4e00;
      text-align: center;
      margin-bottom: 1rem;
    }
  
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      border-radius: 10px;
      overflow: hidden;
      background: #222;
    }
  
    &__item {
      padding: .75rem 1rem;
      background: #222;
      border-bottom: 1px solid #2b2b2b;
      transition: background-color 0.3s;
  
      &:hover {
        background: #282828;
      }
  
      &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
  
      &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: none;
      }
    }
  
    &__link {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      text-decoration: none;
      color: white;
      font-size: 1.1rem;
      width: 100%;
      height: 100%;
      transition: color 0.1s;
  
      &:hover {
        color: #ff4e00;
      }
    }
  
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    @media (max-width: 768px) {
      width: 100%;
      padding: 0.5rem;
  
      &__title {
        font-size: 1rem;
      }
  
      &__link {
        font-size: 1rem;
      }
    }
  }
  