.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    background: #181818;
    box-shadow: 0 2px 6px rgba(0,0,0,.6);
  }

  &__body {
    flex: 1;
    display: grid;
    grid-template-columns: 240px 1fr;
    overflow: hidden;
  }

  &__content {
    overflow-y: auto;
    padding: 1.5rem 2rem;
  }
}
