.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__body {
    flex: 1;
    display: grid;
    grid-template-columns: 240px 1fr;
  }

  &__content {
    overflow-y: auto;
    padding: 1.5rem 2rem;
  }

  @media (max-width: 768px) {
    &__body { grid-template-columns: 1fr; }
  }
}
