$orange: #FF4E00;

:root {
  --color-gray: #181818;
  --color-orange: #FF4E00;
}

.navbar {
  height: 5rem;
  background: var(--color-gray); // фон как у sidebar
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &__logo {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-orange);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: lighten($orange, 10%);
    }
  }

  &__search {
    position: relative;
    flex: 1;
    max-width: 400px;
    margin: 0 2rem;
    display: flex;
    align-items: center;

    &-input {
      width: 100%;
      padding: 0.6rem 2.5rem 0.6rem 1rem;
      border-radius: 30px;
      border: none;
      font-size: 1rem;
      background-color: #222;
      color: #fff;
      transition: background-color 0.3s;

      &::placeholder {
        color: #aaa;
      }
    }

    &-icon {
      position: absolute;
      right: 10px;
      color: white;
      font-size: 1.6rem;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $orange;
      }
    }
  }

  &__user {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    & .navbar__username {
      margin-right: 0.8rem;
      color: white;
      font-size: 1.1rem;
    }

    & .navbar__avatar {
      background-color: var(--color-orange);
    }

    & .navbar__menu {
      position: absolute;
      top: 110%;
      right: 0;
      background: #222;
      border-radius: 10px;
      width: 160px;
      display: flex;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition: all 0.3s;

      &-item {
        padding: 1rem;
        color: white;
        text-decoration: none;
        background: transparent;
        text-align: left;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background: #333;
        }
      }
    }

    &:hover .navbar__menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__signin {
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    margin-right: 2rem;
    transition: color 0.3s;

    &:hover {
      color: #ccc;
    }
  }
}
